* {
    background-color: azure;
}

h1 {
    text-align: center;
    color: red;
}

img {
    display: block;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 25%;
}

p, ul, ol {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    font-size: 20px;
    background-color: rgb(252, 252, 124);
    border: 2px solid rgb(97, 91, 91);
    border-radius: 8px;
    text-align: center;
}

button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

span {
    font-style: italic;
    font-size: 1.5rem;
}